{% extends 'my_app/header_exam.html' %}
{% load static %}

{% block content %}

<nav class="navbar navbar-expand-sm  justify-content-center" style="background-color: #566726; height: 180px; margin-top: 100px; color: cornsilk;">
    <div class="col-sm-9">
    <a style="font-size: 2rem;">
        ประเภทผู้แนะนำการลงทุน
    </a>
    <br>
    <div style="margin-top:10px ;">
        ประเภทผู้แนะนำการลงทุน (IC: Investment Consultant) ตามที่สำนักงาน กลต. กำหนด (อ้างอิงจากเว็บไซต์https://topyourwisdom.com/2021/06/16/ep1-iclicense/)
  </div>
  </div>
  </nav>
  <div class="row" >
    <div class="col-xl" style="margin-top: 200px;" >
      <div class="row row-cols-2">
        <div class="col">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-xxl-3 offset-md-3">
                <img src="/static/img/logo2.gif" alt="สารสนเทศการลงทุน" style="width:60px; height: 60px;" class="rounded-pill"> 
              </div>
              <div class="col-md-6 col-xxl-9 offset-md-6" style=" width: 500px;">
                <h4>กลุ่มที่ 1 IC Plain</h4>
                <br>
                          
                <p>IC Plain คือ ผู้แนะนำการลงทุนตราสารทั่วไป โดยจะต้องสอบผ่านในหลักสูตร IC P1 
                    <br><br>โดยเนื้อหาหลัก ๆ จะเน้นไปที่การทำความเข้าใจในผลิตภัณฑ์พื้นฐาน <br><br>ได้แก่ ตราสารทุน ตราสารหนี้ และกองทุนรวม ความรู้ทั่วไปเกี่ยวกับการเงิน การลงทุน และกฎระเบียบที่เกี่ยวข้องและการให้คำแนะนำการลงทุนที่เหมาะสม หรือจรรยาบรรณ การเป็นผู้ทำหน้าที่ผู้แนะนำการลงทุน</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-xxl-3 offset-md-7">
                <img src="../static/img/logo2.gif" alt="สารสนเทศการลงทุน" style="width:60px; height: 60px;" class="rounded-pill"> 
              </div>
              <div class="col-md-6 col-xxl-9 offset-md-10" style=" width: 500px;">
                <h4>กลุ่มที่ 2 IC Complex</h4>
                <br> 
                <p>คือ ผู้แนะนำการลงทุนตราสารซับซ้อน ซึ่งจะแบ่งย่อยได้อีก 3 ประเภท
                    <br>
                    <br>
                    2.1 IC Complex 1 (ผู้แนะนำการลงทุนตราสารซับซ้อนประเภทที่ 1) โดยจะต้องสอบผ่านในหลักสูตร IC P1, P2 และ P3
                    <br>
                    <br>
                    2.2 IC Complex 2 (ผู้แนะนำการลงทุนตราสารซับซ้อนประเภทที่ 2) โดยจะต้องสอบผ่านในหลักสูตร IC P1 และ P2
                    <br>
                    <br>
                    2.3 IC Complex 3 (ผู้แนะนำการลงทุนตราสารซับซ้อนประเภทที่ 3) โดยจะต้องสอบผ่านในหลักสูตร IC P1 และ P3
                    </p>
              </div>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
    <div class="col-xl" style="margin-top: 80px;" >
      <div class="carousel-inner "  >
        <div class="carousel-item active offset-md-5" style="margin-top: 100px;">
          <img src="/static/img/project_211017_3.jpg" height="600px" width="300px"  class="d-block" >
        </div>
        </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-sm  justify-content-center" style="background-color: #566726; height: 180px; margin-top: 100px; color: cornsilk;">
    <div class="col-sm-9">
    <a style="font-size: 2rem;">
        มี IC License แล้วทำอะไรได้บ้าง ? ใครที่ควรมี IC License บ้าง ?
    </a>
    <br>
    <div style="margin-top:10px ;">
         
สามารถแนะนำหรือขายผลิตภัณฑ์ทางการเงิน เช่น กองทุนรวม ตราสารหนี้ ตราสารทุน(หุ้น) ผู้ที่ควรมี IC License ได้แก่ ผู้ที่ต้องการเป็นมาร์เกตติ้งของโบรกเกอร์ ผู้ที่ทำงานด้านการเงิน ธนาคาร ตัวแทนประกันชีวิต ผู้ที่สนใจด้านการลงทุน
  </div>
  </div>
  </nav>
  <nav class="navbar navbar-expand-sm  justify-content-center" style="background-color: #566726; height: 680px; margin-top: 100px; color: cornsilk;">
    <div class="col-sm-9">
    <a style="font-size: 2rem;">
        เราจะสามารถสอบ IC License ได้ที่ไหน ?
    </a>
    <br>
    <div style="margin-top:100px ;">
         
        สถานที่เปิดสอบIC มีอยู่ 2 ที่ คือ ATI และ AIMC ซึ่งศูนย์สอบทั้ง 2 แห่งนี้ อยู่ที่อาคารเลครัชดา คอมเพล็กซ์ ตรงข้ามศูนย์สิริกิติ์ หากเดินทางได้โดยรถไฟใต้ดินMRT ให้ลงสถานีสุขุมวิท ออกที่ทางออก3 ถ้าเดินทางโดยรถไฟฟ้า BTS ให้ลงสถานีอโศก เดินตาม Sky Walk ไปยังอาคาร Exchange 
        <br><br> สามารถสมัครได้ที่<br><br>
        <div style="margin-top: 60px;color: cornsilk; font-size: 1rem; padding-right:3000px;margin-left: -600px;">
            <a href="http://www.ati-asco.org/testing_calendar.php">             
              <button  type="submit"  style=" background-color: #f15316; color: white; font-size: 0.8rem;width:120px; height: 60px;margin-left: 750px;" class="btn  form-control-sm mt-2 offset-md-0"> ATI </button>
            </a> 
        </div>
          
        <div style="margin-top: 60px;color: cornsilk; font-size: 1rem;padding-right:3000px;margin-left: -600px">
            <a scr href="http://www.aimc.or.th/knowledge/index.php/test_center">               
              <button  type="submit"  style=" background-color: #f35516; color: white; font-size: 0.8rem;width:120px; height: 60px;margin-left: 750px;" class="btn  form-control-sm mt-2 offset-md-0"> AIMC </button>
            </a> 
        </div>
       
  
    </div>
  </nav>
<nav class="navbar navbar-expand-sm  justify-content-center " style="background-color: #171C09; height: auto; margin-top: 200px;">
  <ul class="navbar-nav justify-content-center ">
    <li class="nav-item col-md-6 offset-md-0  " style="margin-top: 40px; font-size: 1.2rem;" >
      <a class="nav-link " href="#" style="color: cornsilk;">เกี่ยวกับเรา</a>
      <hr style="color: cornsilk; width: 300px;">
      <div style="margin-top: 30px;color: cornsilk; font-size: 1rem;">
      <p>เราเป็นเว็บไซต์ให้บริการจำลองการสอบ</p>
      <p>หลักสูตรผู้เเนำนำการลงทุน(IC)</p>
      <p> อยู่ภายใต้การดูเเลของสาขาสารสนเทศการลงทุน </p>
      <p> วิทยาลัยนวัตกรรมดิจิทัลเทคโนโลยี </p>
      <p>มหาวิทยาลัยรังสิต</p>
    </div>
    </li>
    <li class="nav-item col-md-6"style="margin-top: 40px; font-size: 1.2rem; ">
      <a class="nav-link" href="/"  style="color: cornsilk;">สาขาวิชา</a>
      <hr style="color: cornsilk; width: 300px;">
      <div style="margin-top: 30px;color: cornsilk; font-size: 1rem;">
        <a href="https://www.investmentinformatics.com/?fbclid=IwAR1UQcVJdu5VO1kpPKn3Wz_0fzZwTXz8fXhJF1L8Szmb6gRHUMInFndqfjw">
          <p>สารสนเทศการลงทุน </p>
        </a>
        </div>
      <div style="margin-top: 30px;color: cornsilk; font-size: 1rem;">
        <a href="https://it.rsu.ac.th/it/">
          <p>วิทยาลัยนวัตกรรมดิจิทัลเทคโนโลยี มหาวิทยลัยรังสิต</p>
      </div>
    </li>
    <li class="nav-item col-md-4"style="margin-top: 40px; font-size: 1rem;">
      <a class="nav-link" href="/"  style="color: cornsilk;">ติดต่อเรา</a>
      <hr style="color: cornsilk; width: 300px;">
      <div style="margin-top: 30px;color: cornsilk; font-size: 1rem;">
       <div class="row">
      <div class="col-sm-6">
          <img src="/static/img/project_211017_4.jpg"   class="d-block" style="width:30px; height: 30px;">
      </div>
      <div class="col-sm-5 " style="margin-left: 70px; margin-top: -25px;" >
      <a href="https://www.facebook.com/INVESTMENT.IT">
        <p>Facebook </p>
      </a>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-sm-6 ">
          <img src="/static/img/project_211017_5.jpg"  class="d-block" style="width:30px; height: 30px;">
      </div>
      <div class="col-sm-5 " style="margin-left: 70px; margin-top: -25px;" >
        <a href="https://www.instagram.com/ini.rsu/">
          <p>Instagram </p>
        </a>
    </div>
  </div>
    </li>
  </ul>
</div>
</nav>
{% endblock %}



