{% extends 'my_app/header_exam.html' %}
{% load static %}

{% block content %}

<div style="margin-top: 30px;color: cornsilk; font-size: 1rem;">
  <a scr href="../examcfp/">               
    <button  type="submit"  style=" background-color: #849C53; color: white; font-size: 0.8rem;width:120px; height: 60px;margin-left: 750px;" class="btn  form-control-sm mt-2 offset-md-0"> CFP </button>
  </a> 
</div>

<div style="margin-top: 30px;color: cornsilk; font-size: 1rem;">
  <a scr href="../exam/">               
    <button  type="submit"  style=" background-color: #849C53; color: white; font-size: 0.8rem;width:120px; height: 60px;margin-left: 750px;" class="btn  form-control-sm mt-2 offset-md-0"> IC </button>
  </a> 
</div>
<nav class="navbar navbar-expand-sm  justify-content-center " style="background-color: #171C09; height: auto; margin-top: 200px;">
  <ul class="navbar-nav justify-content-center ">
    <li class="nav-item col-md-6 offset-md-0  " style="margin-top: 40px; font-size: 1.2rem;" >
      <a class="nav-link " href="#" style="color: cornsilk;">เกี่ยวกับเรา</a>
      <hr style="color: cornsilk; width: 300px;">
      <div style="margin-top: 30px;color: cornsilk; font-size: 1rem;">
      <p>เราเป็นเว็บไซต์ให้บริการจำลองการสอบ</p>
      <p>หลักสูตรผู้เเนำนำการลงทุน(IC)</p>
      <p> อยู่ภายใต้การดูเเลของสาขาสารสนเทศการลงทุน </p>
      <p> วิทยาลัยนวัตกรรมดิจิทัลเทคโนโลยี </p>
      <p>มหาวิทยาลัยรังสิต</p>
    </div>
    </li>
    <li class="nav-item col-md-6"style="margin-top: 40px; font-size: 1.2rem; ">
      <a class="nav-link" href="/"  style="color: cornsilk;">สาขาวิชา</a>
      <hr style="color: cornsilk; width: 300px;">
      <div style="margin-top: 30px;color: cornsilk; font-size: 1rem;">
        <a href="https://www.investmentinformatics.com/?fbclid=IwAR1UQcVJdu5VO1kpPKn3Wz_0fzZwTXz8fXhJF1L8Szmb6gRHUMInFndqfjw">
          <p>สารสนเทศการลงทุน </p>
        </a>
        </div>
      <div style="margin-top: 30px;color: cornsilk; font-size: 1rem;">
        <a href="https://it.rsu.ac.th/it/">
          <p>วิทยาลัยนวัตกรรมดิจิทัลเทคโนโลยี มหาวิทยลัยรังสิต</p>
      </div>
    </li>
    <li class="nav-item col-md-4"style="margin-top: 40px; font-size: 1rem;">
      <a class="nav-link" href="/"  style="color: cornsilk;">ติดต่อเรา</a>
      <hr style="color: cornsilk; width: 300px;">
      <div style="margin-top: 30px;color: cornsilk; font-size: 1rem;">
       <div class="row">
      <div class="col-sm-6">
          <img src="/static/img/project_211017_4.jpg"   class="d-block" style="width:30px; height: 30px;">
      </div>
      <div class="col-sm-5 " style="margin-left: 70px; margin-top: -25px;" >
      <a href="https://www.facebook.com/INVESTMENT.IT">
        <p>Facebook </p>
      </a>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-sm-6 ">
          <img src="/static/img/project_211017_5.jpg"  class="d-block" style="width:30px; height: 30px;">
      </div>
      <div class="col-sm-5 " style="margin-left: 70px; margin-top: -25px;" >
        <a href="https://www.instagram.com/ini.rsu/">
          <p>Instagram </p>
        </a>
    </div>
  </div>
    </li>
  </ul>
</div>
</nav>
{% endblock %}



