
{% extends 'my_app/header.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-sm-6  text-white p-3" style="margin-top: 90px; ">
    <!-- Carousel -->
<div id="demo" class="carousel slide offset-md-2" data-bs-ride="carousel">

<!-- Indicators/dots -->
<div class="carousel-indicators">
  <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
  <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
  <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
</div>

<!-- The slideshow/carousel -->
<div class="carousel-inner ">
  <div class="carousel-item active">
    <img src="../static/img/23423.png" class="d-block" style="width:100%">
  </div>
  <div class="carousel-item">
    <img src="/static/img/23423.png"   class="d-block" style="width:100%">
  </div>
  <div class="carousel-item">
    <img src="/static/img/23423.png"   class="d-block" style="width:100%">
  </div>
</div>

<!-- Left and right controls/icons -->
<button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
  <span class="carousel-control-next-icon"></span>
</button>
</div>
  </div>
  <div class="col-sm-6   p-3 " style="color: rgb(17, 17, 17); margin-top: 130px;">
    <div class="offset-md-1">
    <a style="font-size: 2rem;">
    เว็บไซต์จำลองการสอบ IC
    </a>
    <br>
    <a>
      <div style="margin-top:10px ;">
    เว็บไซต์จำลองการสอบหลักสูตรผู้แนะนำการลงทุน (IC)
    <br>
    สะดวก รวดเร็ว ใช่งานง่าย ใช้ได้ทุกที่
  </div>
  </a>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-sm  justify-content-center" style="background-color: #566726; height: 180px; margin-top: 100px; color: cornsilk;">
  <div class="col-sm-9">
  <a style="font-size: 2rem;">
  เว็บไซต์จำลองการสอบ IC
  </a>
  <br>
  <div style="margin-top:10px ;">
  หลักสูตรผู้เเนะนำการลงทุน
</div>
</div>
</nav>
<div class="row" >
  <div class="col-xl" style="margin-top: 200px;" >
    <div class="row row-cols-2">
      <div class="col">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-xxl-3 offset-md-3">
              <img src="/static/img/logo2.gif" alt="สารสนเทศการลงทุน" style="width:60px; height: 60px;" class="rounded-pill"> 
            </div>
            <div class="col-md-6 col-xxl-9 offset-md-6" style=" width: 500px;">
              <h4>หลักสูตรที่ 1 IC Plain</h4>
              <br>
                        
              <p>ผู้แนะนำการลงทุนตราสารทั่วไป(IC plain)ประเภทผลิตภัณฑ์ที่แนะนำได้คือตราสารทุน,
                กองทุนรวม,ตราสารหนี้ที่มีลักษณะไม่ซับซ่อน</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-xxl-3 offset-md-7">
              <img src="../static/img/logo2.gif" alt="สารสนเทศการลงทุน" style="width:60px; height: 60px;" class="rounded-pill"> 
            </div>
            <div class="col-md-6 col-xxl-9 offset-md-10" style=" width: 500px;">
              <h4>หลักสูตรที่ 2 Complex Products : Bond and Mutual Fund (P2)​</h4>
              <br> 
              <p>ความรู้เกี่ยวกับตราสารที่มีความซับซ้อน :​
                ตราสารหนี้และกองทุนรวม</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container-fluid">
          <div class="row"> 
            <div class="col-md-6 col-xxl-3 offset-md-3" >
              <img src="/static/img/logo2.gif" alt="สารสนเทศการลงทุน" style="width:60px; height: 60px;" class="rounded-pill"> 
            </div>
            <div class="col-md-6 col-xxl-9 offset-md-6" style=" width: 500px;">
              <h4>หลักสูตรที่ 3 : Complex Products : Derivatives (P3) </h4>
              <br>
              <p>ความรู้เกี่ยวกับตราสารที่มีความซับซ้อน :
                สัญญาซื้อขายล่วงหน้า</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="col-xl" style="margin-top: 80px;" >
    <div class="carousel-inner "  >
      <div class="carousel-item active offset-md-5" style="margin-top: 100px;">
        <img src="/static/img/project_211017_3.jpg" height="600px" width="300px"  class="d-block" >
      </div>
      </div>
  </div>
</div>
<nav class="navbar navbar-expand-sm  justify-content-center " style="background-color: #171C09; height: auto; margin-top: 200px;">
  <ul class="navbar-nav justify-content-center ">
    <li class="nav-item col-md-6 offset-md-0  " style="margin-top: 40px; font-size: 1.2rem;" >
      <a class="nav-link " href="#" style="color: cornsilk;">เกี่ยวกับเรา</a>
      <hr style="color: cornsilk; width: 300px;">
      <div style="margin-top: 30px;color: cornsilk; font-size: 1rem;">
      <p>เราเป็นเว็บไซต์ให้บริการจำลองการสอบ</p>
      <p>หลักสูตรผู้เเนะนำการลงทุน(IC)</p>
      <p> อยู่ภายใต้การดูเเลของสาขาสารสนเทศการลงทุน </p>
      <p> วิทยาลัยนวัตกรรมดิจิทัลเทคโนโลยี </p>
      <p>มหาวิทยาลัยรังสิต</p>
    </div>
    </li>
    <li class="nav-item col-md-6"style="margin-top: 40px; font-size: 1.2rem; ">
      <a class="nav-link" href="/"  style="color: cornsilk;">สาขาวิชา</a>
      <hr style="color: cornsilk; width: 300px;">
      <div style="margin-top: 30px;color: cornsilk; font-size: 1rem;">
        <a href="https://www.investmentinformatics.com/?fbclid=IwAR1UQcVJdu5VO1kpPKn3Wz_0fzZwTXz8fXhJF1L8Szmb6gRHUMInFndqfjw">
          <p>สารสนเทศการลงทุน </p>
        </a>
        </div>
      <div style="margin-top: 30px;color: cornsilk; font-size: 1rem;">
        <a href="https://it.rsu.ac.th/it/">
          <p>วิทยาลัยนวัตกรรมดิจิทัลเทคโนโลยี มหาวิทยลัยรังสิต</p>
      </div>
    </li>
    <li class="nav-item col-md-4"style="margin-top: 40px; font-size: 1rem;">
      <a class="nav-link" href="/"  style="color: cornsilk;">ติดต่อเรา</a>
      <hr style="color: cornsilk; width: 300px;">
      <div style="margin-top: 30px;color: cornsilk; font-size: 1rem;">
       <div class="row">
      <div class="col-sm-6">
          <img src="/static/img/project_211017_4.jpg"   class="d-block" style="width:30px; height: 30px;">
      </div>
      <div class="col-sm-5 " style="margin-left: 70px; margin-top: -25px;" >
      <a href="https://www.facebook.com/INVESTMENT.IT">
        <p>Facebook </p>
      </a>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-sm-6 ">
          <img src="/static/img/project_211017_5.jpg"  class="d-block" style="width:30px; height: 30px;">
      </div>
      <div class="col-sm-5 " style="margin-left: 70px; margin-top: -25px;" >
        <a href="https://www.instagram.com/ini.rsu/">
          <p>Instagram </p>
        </a>
    </div>
  </div>
    </li>
  </ul>
</div>
</nav>

{% endblock %}
